@import url("./Colors.css");

header {
    background-color: transparent;
}

hero {
    height: 100vh;
}

.nav-bg {
    background-color: var(--navbar-background);
}

.nav-link {
    color: var(--navbar-text-color) !important;
}

.nav-link:hover {
    color: var(--navbar-text-color-hover);
}

